<form #checkInForm="ngForm" autocomplete="off" (submit)="onSubmit(checkInForm)">
    <input type="hidden" name="timer_id" [value]="timeService.timeFormData.timer_id">
    <div class="form-group">
        <!-- employee_init_id Form Input -->
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="far fa-id-badge" [class.green-icon]="employee_init_id.valid" [class.red-icon]="employee_init_id.invalid && employee_init_id.touched"></i>
                </div>
            </div>
            <input name="employee_init_id" id="employee_init_id" #employee_init_id="ngModel" [(ngModel)]="timeService.timeFormData.employee_init_id" class="form-control" required disabled>
        </div>
        <!-- date_of_work Form Input -->
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="far fa-calendar-alt" [class.green-icon]="date_of_work.valid" [class.red-icon]="date_of_work.invalid && date_of_work.touched"></i>
                </div>
            </div>
            <input name="date_of_work" id="date_of_work" #date_of_work="ngModel" [(ngModel)]="timeService.timeFormData.date_of_work" class="form-control" placeholder="YYYY-MM-DD" required disabled>
        </div>
    </div>
    <div class="form-group">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6"> 
            <!-- time_in Form Input -->
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <!-- **Find icon here** -->
                        <i class="far fa-clock" [class.green-icon]="time_in.valid" [class.red-icon]="time_in.invalid && time_in.touched"></i>
                    </div>
                </div>
                <input name="time_in" id="time_in" #time_in="ngModel" [(ngModel)]="timeService.timeFormData.time_in" class="form-control" placeholder="Employee Start Time" required disabled>
            </div>
        </div>
        <div class="form-group col-md-6">
            <!-- time_out Form Input -->
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <!-- **Find icon here** -->
                        <i class="far fa-clock" [class.green-icon]="time_out.valid" [class.red-icon]="time_out.invalid && time_out.touched"></i>
                    </div>
                </div>
                <input name="time_out" id="time_out" #time_out="ngModel" [(ngModel)]="timeService.timeFormData.time_out" class="form-control" placeholder="Employee End Time" disabled>

            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="clockedIn">Clock-In</button>
        <button class="btn btn-success btn-lg btn-block" type="button" (click)="clockOut(checkInForm)" [disabled]="!clockedIn">Clock-Out</button>
    </div>
</form>