
EmployeeTimeTracker/.vs/EmployeeTimeTracker/DesignTimeBuild/.dtbcache.v2
EmployeeTimeTracker/.vs/EmployeeTimeTracker/v16/.suo
EmployeeTimeTracker/.vs/EmployeeTimeTracker/v16/.suo
EmployeeTimeTracker/.vs/EmployeeTimeTracker/DesignTimeBuild/.dtbcache.v2
EmployeeTimeTracker/.vs/EmployeeTimeTracker/DesignTimeBuild/.dtbcache.v2
EmployeeTimeTracker/.vs/EmployeeTimeTracker/DesignTimeBuild/.dtbcache.v2
*.cache
*.cache
EmployeeTimeTracker/EmployeeTimeTracker/obj/Debug/netcoreapp3.1/EmployeeTimeTracker.assets.cache
EmployeeTimeTracker/EmployeeTimeTracker/obj/Debug/netcoreapp3.1/EmployeeTimeTracker.csprojAssemblyReference.cache
EmployeeTimeTracker/EmployeeTimeTracker/obj/project.nuget.cache
EmployeeTimeTracker/.vs/EmployeeTimeTracker/v16/.suo
EmployeeTimeTracker/EmployeeTimeTracker/appsettings.json
EmployeeTimeTracker/.vs/EmployeeTimeTracker/v16/.suo
EmployeeTimeTracker/.vs/EmployeeTimeTracker/DesignTimeBuild/.dtbcache.v2
*.v2
EmployeeTimeTracker/.vs/EmployeeTimeTracker/v16/.suo
EmployeeTimeTracker/EmployeeTimeTracker/obj/Debug/netcoreapp3.1/EmployeeTimeTracker.csprojAssemblyReference.cache
