
EmployeeTimeTracker/.vs/EmployeeTimeTracker/DesignTimeBuild/.dtbcache.v2
EmployeeTimeTracker/.vs/EmployeeTimeTracker/v16/.suo
EmployeeTimeTracker/.vs/EmployeeTimeTracker/v16/.suo
EmployeeTimeTracker/.vs/EmployeeTimeTracker/DesignTimeBuild/.dtbcache.v2
