<div id="logIn">
<h1 id="title">Employee Timer Log In</h1>
<form #logInForm="ngForm" (ngSubmit)="onSubmit(logInForm)">
    <div class="form-group logInInput">
      <input [(ngModel)]="username" type="text" class="form-control"  name="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username" required>
    </div>
    <div class="form-group logInInput">
      <input [(ngModel)]="password" type="password" class="form-control"  name="password" id="exampleInputPassword1" required placeholder="Enter Password">
    </div>
    <button [ngClass]="{'invalid-button': !logInForm.valid}" type="submit" class="btn btn-primary"  [disabled]="!logInForm.valid">Submit</button>
  </form>
</div>