<div class="col-md-6 offset-md-3 mt-5">
    <div class="alert alert-info">
        <tr *ngFor="let emp of loginService.loginList">
            <td>{{ emp.username }}</td>
        </tr>
    </div>
    <div class="card">
        <h4 class="card-header">Employee Tracker</h4>
        <div class="card-body">
            <form #loginForm="ngForm" autocomplete="off" (submit)="onSubmit(loginForm)">
                <!--Username-->
                <div class="form-group">
                    <label for="username">Username</label>
                    <input name="username" #username="ngModel" [(ngModel)]="loginService.loginFormData.username" class="form-control" placeholder="Username" required>
                </div>
                <!--Password-->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" #password="ngModel" [(ngModel)]="loginService.loginFormData.password" class="form-control" placeholder="Password" required>
                </div>

                <button [disabled]="loading" routerLink="employees-info/employees-info" routerLinkActive="active" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>
</div>