/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr';
input.ng-touched.ng-invalid {
    border-color: #dc3545;
}

input.ng-valid {
    border-color: #28a745;
}

.green-icon {
    color: #28a745;
}

.red-icon {
    color: #dc3545;
}

#toast-container>div {
    opacity: 1;
}

table tr:hover {
    cursor: pointer;
}

table {
    overflow-y: scroll;
    height: 100%;
    display: block;
    width: 100%;
}

.inputForm {
    margin-left: 20px;
}

.sortArrows {
    color: #F96E46;
}

.filterIcon {
    color: #86BA90;
}

p {
    font-family: Lato;
}

.menuBtn {
    font-size: 3em;
    border: none;
    background-color: white;
    padding: 5px;
    margin-left: 10px;
}

.menu-button {
    margin: 10px;
}

::ng-deep aside {
    padding-right: 25px;
    height: 100%;
    z-index: -4;
}

.nav-container {
    z-index: 1;
    margin: 0px;
}

ul li {
    list-style-type: none;
}