<i class="fas fa-filter mr-1 filterIcon"></i>
<input type="text" id="empSearch" (keyup)="this.helper.filterTable('empSearch', 'empSearchTable')" placeholder="Search for employees...">
<table class="table table-hover" id="empSearchTable">
    <tr>
        <td (click)="this.helper.sortTable('empSearchTable', 0)">ID <i class="fas fa-sort sortArrows"></i></td>
        <td (click)="this.helper.sortTable('empSearchTable', 1)">First Name <i class="fas fa-sort sortArrows"></i></td>
        <td (click)="this.helper.sortTable('empSearchTable', 2)">Last Name <i class="fas fa-sort sortArrows"></i></td>
        <td (click)="this.helper.sortTable('empSearchTable', 3)">User Privileges <i class="fas fa-sort sortArrows"></i></td>
        <td (click)="this.helper.sortTable('empSearchTable', 4)">Username <i class="fas fa-sort sortArrows"></i></td>
        <td (click)="this.helper.sortTable('empSearchTable', 5)">Manager ID <i class="fas fa-sort sortArrows"></i></td>
    </tr>
    <tr *ngFor="let pd of service.list">
        <td (click)="populateForm(pd)">{{ pd.id_num }}</td>
        <td (click)="populateForm(pd)">{{ pd.first_name }}</td>
        <td (click)="populateForm(pd)">{{ pd.last_name }}</td>
        <td (click)="populateForm(pd)">{{ pd.user_privileges }}</td>
        <td (click)="populateForm(pd)">{{ pd.username }}</td>
        <td (click)="populateForm(pd)">{{ pd.manager_id }}</td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.id_num)"></i>
        </td>
    </tr>
</table>