<table class="table table-hover">
    <tr>
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>User Privileges</td>
        <td>Username</td>
        <td>Password</td>
    </tr>
    <tr *ngFor="let pd of service.list">
        <td (click)="populateForm(pd)">{{ pd.id_num }}</td>
        <td (click)="populateForm(pd)">{{ pd.first_name }}</td>
        <td (click)="populateForm(pd)">{{ pd.last_name }}</td>
        <td (click)="populateForm(pd)">{{ pd.user_privileges }}</td>
        <td (click)="populateForm(pd)">{{ pd.username }}</td>
        <td (click)="populateForm(pd)">{{ pd.password }}</td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.id_num)"></i>
        </td>
    </tr>
</table>